<%= form_for(@communities_user) do |f| %>
  <% if @communities_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@communities_user.errors.count, "error") %> prohibited this communities_user from being saved:</h2>

      <ul>
      <% @communities_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ชุมชน %><br />
 <%= f.select :community_id, current_user.ladmin.communities.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'เลือกชุมชน'}, :style => "width:200px" %>  ถ้าไม่มีในรายการ <%= link_to "เพิ่มชุมชนที่นี่", communities_path, :target => "_blank" %>

  </div>
  <div class="field">
    <%= f.label :จำนวนเยาวชนชาย %><br />
    <%= f.text_field :male_no %>
  </div>
  <div class="field">
    <%= f.label :จำนวนเยาวชนหญิง %><br />
    <%= f.text_field :female_no %>
  </div>
  <div class="actions">
    <%= f.submit  "บันทึก" %>
  </div>
<% end %>

