<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr402.user_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @lr402.project_name %>
</p>

<p>
  <b>Target name:</b>
  <%= @lr402.target_name %>
</p>

<p>
  <b>Target1 no:</b>
  <%= @lr402.target1_no %>
</p>

<p>
  <b>Budget1:</b>
  <%= @lr402.budget1 %>
</p>

<p>
  <b>Target2 no:</b>
  <%= @lr402.target2_no %>
</p>

<p>
  <b>Budget2:</b>
  <%= @lr402.budget2 %>
</p>

<p>
  <b>Target3 no:</b>
  <%= @lr402.target3_no %>
</p>

<p>
  <b>Budget3:</b>
  <%= @lr402.budget3 %>
</p>


<%= link_to 'แก้ไข', edit_lr402_path(@lr402) %> |
<%= link_to 'Back', lr402s_path %>
