<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @problems_user.problem_id %>
</p>

<p>
  <b>User:</b>
  <%= @problems_user.user_id %>
</p>

<p>
  <b>Flag:</b>
  <%= @problems_user.flag %>
</p>


<%= link_to 'แก้ไข', edit_problems_user_path(@problems_user) %> |
<%= link_to 'Back', problems_users_path %>
