<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lb202556.user_id %>
</p>

<p>
  <b>Team type:</b>
  <%= @lb202556.team_type %>
</p>

<p>
  <b>Team no:</b>
  <%= @lb202556.team_no %>
</p>

<p>
  <b>E team no:</b>
  <%= @lb202556.e_team_no %>
</p>

<p>
  <b>F team no:</b>
  <%= @lb202556.f_team_no %>
</p>

<p>
  <b>Wd team no:</b>
  <%= @lb202556.wd_team_no %>
</p>

<p>
  <b>Pd team no:</b>
  <%= @lb202556.pd_team_no %>
</p>

<p>
  <b>Budget:</b>
  <%= @lb202556.budget %>
</p>

<p>
  <b>Trainner:</b>
  <%= @lb202556.trainner %>
</p>

<p>
  <b>Tool:</b>
  <%= @lb202556.tool %>
</p>


<%= link_to 'แก้ไข', edit_lb202556_path(@lb202556) %> |
<%= link_to 'Back', lb202556s_path %>
