<p id="notice"><%= notice %></p>

<p>
  <b>Special group name:</b>
  <%= @dw_report1.special_group_name %>
</p>

<p>
  <b>Special group:</b>
  <%= @dw_report1.special_group_id %>
</p>

<p>
  <b>Project2:</b>
  <%= @dw_report1.project2_id %>
</p>

<p>
  <b>Project2 title:</b>
  <%= @dw_report1.project2_title %>
</p>

<p>
  <b>A budget:</b>
  <%= @dw_report1.a_budget %>
</p>

<p>
  <b>Budget src:</b>
  <%= @dw_report1.budget_src_id %>
</p>

<p>
  <b>Budget src title:</b>
  <%= @dw_report1.budget_src_title %>
</p>


<%= link_to 'แก้ไข', edit_dw_report1_path(@dw_report1) %> |
<%= link_to 'Back', dw_report1s_path %>
