<%= form_for(@tumbon) do |f| %>
  <% if @tumbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tumbon.errors.count, "error") %> prohibited this tumbon from being saved:</h2>

      <ul>
      <% @tumbon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amphur_id %><br />
    <%= f.text_field :amphur_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
