<h1>Listing tumbons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amphur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tumbons.each do |tumbon| %>
  <tr>
    <td><%= tumbon.name %></td>
    <td><%= tumbon.amphur_id %></td>
    <td><%= link_to 'แสดง', tumbon %></td>
    <td><%= link_to 'แก้ไข', edit_tumbon_path(tumbon) %></td>
    <td><%= link_to 'ลบ', tumbon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tumbon', new_tumbon_path %>
