<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @project2_special_group.project2_id %>
</p>

<p>
  <b>Special group:</b>
  <%= @project2_special_group.special_group_id %>
</p>


<%= link_to 'แก้ไข', edit_project2_special_group_path(@project2_special_group) %> |
<%= link_to 'Back', project2_special_groups_path %>
