<h1>Listing lr14s</h1>
<h3>ข้อมูลจำนวนเยาวชนอายุ 12-24 ปีในกลุ่มประชากรเฉพาะต่างๆ ในชุมชนที่มีความเสี่ยงต่อปัญหาเอดส์และอนามัยเจริญพันธุ์</h3>
<table>
  <tr>

    <th>กลุ่มประชากรเฉพาะ</th>
    <th>สถานะ</th>
    <th>ถ้ามี ประมาณจำนวนเยาวชน อายุ 12-24 ปีจำนวนประมาณ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lr14s.each do |lr14| %>
  <tr>
    <!-- <td><%= lr14.user_id %></td> -->
    <td><%= lr14.special_people %></td>
    <td><%= ApplicationController::KNOW_STATUS[lr14.status] %></td>
    <td><%= lr14.youth_no %></td>
    <td><%= link_to 'แสดง', lr14 %></td>
    <td><%= link_to 'แก้ไข', edit_lr14_path(lr14) %></td>
    <td><%= link_to 'ลบ', lr14, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lr14', new_lr14_path %>

