<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr14.user_id %>
</p>

<p>
  <b>Special people:</b>
  <%= @lr14.special_people %>
</p>

<p>
  <b>Status:</b>
  <%= @lr14.status %>
</p>

<p>
  <b>Youth no:</b>
  <%= @lr14.youth_no %>
</p>


<%= link_to 'แก้ไข', edit_lr14_path(@lr14) %> |
<%= link_to 'Back', lr14s_path %>
