<p id="notice"><%= notice %></p>

<p>
  <b>Comunity :</b>
  <%= @lr13.comunity__id %>
</p>

<p>
  <b>Code table:</b>
  <%= @lr13.code_table_id %>
</p>

<p>
  <b>User:</b>
  <%= @lr13.user_id %>
</p>

<p>
  <b>Youth no:</b>
  <%= @lr13.youth_no %>
</p>


<%= link_to 'แก้ไข', edit_lr13_path(@lr13) %> |
<%= link_to 'Back', lr13s_path %>
