<%= form_for(@lr12) do |f| %>
  <% if @lr12.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lr12.errors.count, "error") %> prohibited this lr12 from being saved:</h2>

      <ul>
      <% @lr12.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place__id %><br />
    <%= f.text_field :place__id %>
  </div>
  <div class="field">
    <%= f.label :code_table_id %><br />
    <%= f.text_field :code_table_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :youth_no %><br />
    <%= f.text_field :youth_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
