<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lb40.user_id %>
</p>

<p>
  <b>Team type:</b>
  <%= @lb40.team_type %>
</p>

<p>
  <b>Q1:</b>
  <%= @lb40.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @lb40.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @lb40.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @lb40.q4 %>
</p>


<%= link_to 'แก้ไข', edit_lb40_path(@lb40) %> |
<%= link_to 'Back', lb40s_path %>
