<h1>Listing project2_targets</h1>

<table>
  <tr>
    <th>Project2</th>
    <th>Target</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project2_targets.each do |project2_target| %>
  <tr>
    <td><%= project2_target.project2_id %></td>
    <td><%= project2_target.target_id %></td>
    <td><%= link_to 'แสดง', project2_target %></td>
    <td><%= link_to 'แก้ไข', edit_project2_target_path(project2_target) %></td>
    <td><%= link_to 'ลบ', project2_target, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project2 target', new_project2_target_path %>
