<h1>Listing threats</h1>

<table>
  <tr>
    <th>Threat type</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @threats.each do |threat| %>
  <tr>
    <td><%= threat.threat_type_id %></td>
    <td><%= threat.title %></td>
    <td><%= link_to 'แสดง', threat %></td>
    <td><%= link_to 'แก้ไข', edit_threat_path(threat) %></td>
    <td><%= link_to 'ลบ', threat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Threat', new_threat_path %>
