<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @factor.title %>
</p>

<p>
  <b>Description:</b>
  <%= @factor.description %>
</p>


<%= link_to 'แก้ไข', edit_factor_path(@factor) %> |
<%= link_to 'Back', factors_path %>
