<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr50.user_id %>
</p>

<p>
  <b>Health service:</b>
  <%= @lr50.health_service %>
</p>

<p>
  <b>Youth 2554:</b>
  <%= @lr50.youth_2554 %>
</p>

<p>
  <b>Youth 2555:</b>
  <%= @lr50.youth_2555 %>
</p>

<p>
  <b>Youth 2556:</b>
  <%= @lr50.youth_2556 %>
</p>


<%= link_to 'แก้ไข', edit_lr50_path(@lr50) %> |
<%= link_to 'Back', lr50s_path %>
