<h1>Listing lb202554s</h1>
<h3>แผนพัฒนาสมรรถนะทีมงานระดับอปท. 2554</h3>
<table>
  <tr>
  <th rowspan=2>ประเภททีมงานที่ต้องใช้</th><th rowspan=2>จำนวนทีมงานที่ต้องใช้</th><th rowspan=2>จำนวนทีมงานที่มีอยู่</th>
	<th rowspan=2>จำนวนทีมงานที่ต้องหาเพิ่ม</th><th rowspan=2>จำนวนทีมงานที่ต้องการให้พัฒนาสมรรถนะ</th><th rowspan=2>จำนวนทีมงานที่มีแผนพัฒนาสมรรถนะในปี 2554</th>
	<th colspan=3>สิ่งที่ต้องการการสนับสนุนจากภายนอก (อำเภอ จังหวัด)</th>
	<th rowspan=2></th>
    <th rowspan=2></th>
    <th rowspan=2></th>
	</tr>
	<tr>
						<th>งบประมาณ</th><th>วิทยากร</th><th>เครื่องมือ เอกสารแนวทาง วิธีการดำเนินงาน</th>
</tr>


<% @lb202554s.each do |lb202554| %>
  <tr>
    <!-- <td><%= lb202554.user_id %></td> -->
    <td><%= ApplicationController::TEAM_TYPE.index(lb202554.team_type.to_i) %></td>
    <td><%= lb202554.team_no %></td>
    <td><%= lb202554.e_team_no %></td>
    <td><%= lb202554.f_team_no %></td>
    <td><%= lb202554.wd_team_no %></td>
    <td><%= lb202554.pd_team_no %></td>
    <td><%= lb202554.budget %></td>
    <td><%= lb202554.trainner %></td>
    <td><%= lb202554.tool %></td>
    <td><%= link_to 'แสดง', lb202554 %></td>
    <td><%= link_to 'แก้ไข', edit_lb202554_path(lb202554) %></td>
    <td><%= link_to 'ลบ', lb202554, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lb202554', new_lb202554_path %>

