<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lb202554.user_id %>
</p>

<p>
  <b>Team type:</b>
  <%= @lb202554.team_type %>
</p>

<p>
  <b>Team no:</b>
  <%= @lb202554.team_no %>
</p>

<p>
  <b>E team no:</b>
  <%= @lb202554.e_team_no %>
</p>

<p>
  <b>F team no:</b>
  <%= @lb202554.f_team_no %>
</p>

<p>
  <b>Wd team no:</b>
  <%= @lb202554.wd_team_no %>
</p>

<p>
  <b>Pd team no:</b>
  <%= @lb202554.pd_team_no %>
</p>

<p>
  <b>Budget:</b>
  <%= @lb202554.budget %>
</p>

<p>
  <b>Trainner:</b>
  <%= @lb202554.trainner %>
</p>

<p>
  <b>Tool:</b>
  <%= @lb202554.tool %>
</p>


<%= link_to 'แก้ไข', edit_lb202554_path(@lb202554) %> |
<%= link_to 'Back', lb202554s_path %>
