<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr45.user_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @lr45.project_name %>
</p>

<p>
  <b>Target name:</b>
  <%= @lr45.target_name %>
</p>

<p>
  <b>Activity name:</b>
  <%= @lr45.activity_name %>
</p>

<p>
  <b>Real budget:</b>
  <%= @lr45.real_budget %>
</p>

<p>
  <b>Supporter:</b>
  <%= @lr45.supporter %>
</p>

<p>
  <b>Target no:</b>
  <%= @lr45.target_no %>
</p>

<p>
  <b>Define date:</b>
  <%= @lr45.define_date %>
</p>


<%= link_to 'แก้ไข', edit_lr45_path(@lr45) %> |
<%= link_to 'Back', lr45s_path %>
