<%= simple_form_for(@factors_project) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :factor_id %>
    <%= f.input :project_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

