<h1>Listing factors_projects</h1>

<table>
  <tr>
    <th>Factor</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factors_projects.each do |factors_project| %>
  <tr>
    <td><%= factors_project.factor_id %></td>
    <td><%= factors_project.project_id %></td>
    <td><%= link_to 'แสดง', factors_project %></td>
    <td><%= link_to 'แก้ไข', edit_factors_project_path(factors_project) %></td>
    <td><%= link_to 'ลบ', factors_project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factors project', new_factors_project_path %>
