<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lb402556.user_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @lb402556.project_name %>
</p>

<p>
  <b>Project budget:</b>
  <%= @lb402556.project_budget %>
</p>

<p>
  <b>Dev budget:</b>
  <%= @lb402556.dev_budget %>
</p>

<p>
  <b>Budget:</b>
  <%= @lb402556.budget %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @lb402556.sponsor %>
</p>


<%= link_to 'แก้ไข', edit_lb402556_path(@lb402556) %> |
<%= link_to 'Back', lb402556s_path %>
