<%= form_for(@youth_progress) do |f| %>
  <% if @youth_progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@youth_progress.errors.count, "error") %> prohibited this youth_progress from being saved:</h2>

      <ul>
      <% @youth_progress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :q1 %><br />
    <%= f.text_field :q1 %>
  </div>
  <div class="field">
    <%= f.label :q2 %><br />
    <%= f.text_field :q2 %>
  </div>
  <div class="field">
    <%= f.label :q3 %><br />
    <%= f.text_field :q3 %>
  </div>
  <div class="field">
    <%= f.label :q4 %><br />
    <%= f.text_field :q4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
