<h1>Listing lb202555s</h1>
<h3>แผนพัฒนาสมรรถนะทีมงานระดับอปท. 2555</h3>
<table>
  <tr>
  <th rowspan=2>ประเภททีมงานที่ต้องใช้</th><th rowspan=2>จำนวนทีมงานที่ต้องใช้</th><th rowspan=2>จำนวนทีมงานที่มีอยู่</th>
	<th rowspan=2>จำนวนทีมงานที่ต้องหาเพิ่ม</th><th rowspan=2>จำนวนทีมงานที่ต้องการให้พัฒนาสมรรถนะ</th><th rowspan=2>จำนวนทีมงานที่มีแผนพัฒนาสมรรถนะในปี 2555</th>
	<th colspan=3>สิ่งที่ต้องการการสนับสนุนจากภายนอก (อำเภอ จังหวัด)</th>
	<th rowspan=2></th>
    <th rowspan=2></th>
    <th rowspan=2></th>
	</tr>
	<tr>
						<th>งบประมาณ</th><th>วิทยากร</th><th>เครื่องมือ เอกสารแนวทาง วิธีการดำเนินงาน</th>
</tr>


<% @lb202555s.each do |lb202555| %>
  <tr>
    <!-- <td><%= lb202555.user_id %></td> -->
    <td><%= ApplicationController::TEAM_TYPE.index(lb202555.team_type.to_i) %></td>
    <td><%= lb202555.team_no %></td>
    <td><%= lb202555.e_team_no %></td>
    <td><%= lb202555.f_team_no %></td>
    <td><%= lb202555.wd_team_no %></td>
    <td><%= lb202555.pd_team_no %></td>
    <td><%= lb202555.budget %></td>
    <td><%= lb202555.trainner %></td>
    <td><%= lb202555.tool %></td>
    <td><%= link_to 'แสดง', lb202555 %></td>
    <td><%= link_to 'แก้ไข', edit_lb202555_path(lb202555) %></td>
    <td><%= link_to 'ลบ', lb202555, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lb202555', new_lb202555_path %>

