<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lb202555.user_id %>
</p>

<p>
  <b>Team type:</b>
  <%= @lb202555.team_type %>
</p>

<p>
  <b>Team no:</b>
  <%= @lb202555.team_no %>
</p>

<p>
  <b>E team no:</b>
  <%= @lb202555.e_team_no %>
</p>

<p>
  <b>F team no:</b>
  <%= @lb202555.f_team_no %>
</p>

<p>
  <b>Wd team no:</b>
  <%= @lb202555.wd_team_no %>
</p>

<p>
  <b>Pd team no:</b>
  <%= @lb202555.pd_team_no %>
</p>

<p>
  <b>Budget:</b>
  <%= @lb202555.budget %>
</p>

<p>
  <b>Trainner:</b>
  <%= @lb202555.trainner %>
</p>

<p>
  <b>Tool:</b>
  <%= @lb202555.tool %>
</p>


<%= link_to 'แก้ไข', edit_lb202555_path(@lb202555) %> |
<%= link_to 'Back', lb202555s_path %>
