<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @method4.project2_id %>
</p>

<p>
  <b>Target:</b>
  <%= @method4.target_id %>
</p>

<p>
  <b>Title:</b>
  <%= @method4.title %>
</p>

<p>
  <b>Density:</b>
  <%= @method4.density %>
</p>

<p>
  <b>Year1 n:</b>
  <%= @method4.year1_n %>
</p>

<p>
  <b>Year2 n:</b>
  <%= @method4.year2_n %>
</p>

<p>
  <b>Year3 n:</b>
  <%= @method4.year3_n %>
</p>


<%= link_to 'แก้ไข', edit_method4_path(@method4) %> |
<%= link_to 'Back', method4s_path %>
