<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr75.user_id %>
</p>

<p>
  <b>Service name:</b>
  <%= @lr75.service_name %>
</p>

<p>
  <b>Q1:</b>
  <%= @lr75.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @lr75.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @lr75.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @lr75.q4 %>
</p>


<%= link_to 'แก้ไข', edit_lr75_path(@lr75) %> |
<%= link_to 'Back', lr75s_path %>
