<%= simple_form_for(@project2_leader) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :project2_id %>
    <%= f.input :leader_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

