<h1>Listing project2_leaders</h1>

<table>
  <tr>
    <th>Project2</th>
    <th>Leader</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project2_leaders.each do |project2_leader| %>
  <tr>
    <td><%= project2_leader.project2_id %></td>
    <td><%= project2_leader.leader_id %></td>
    <td><%= link_to 'แสดง', project2_leader %></td>
    <td><%= link_to 'แก้ไข', edit_project2_leader_path(project2_leader) %></td>
    <td><%= link_to 'ลบ', project2_leader, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project2 leader', new_project2_leader_path %>
