<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @method1.project2_id %>
</p>

<p>
  <b>Year1 n:</b>
  <%= @method1.year1_n %>
</p>

<p>
  <b>Year2 n:</b>
  <%= @method1.year2_n %>
</p>

<p>
  <b>Year3 n:</b>
  <%= @method1.year3_n %>
</p>

<p>
  <b>Density:</b>
  <%= @method1.density %>
</p>

<p>
  <b>Title:</b>
  <%= @method1.title %>
</p>


<%= link_to 'แก้ไข', edit_method1_path(@method1) %> |
<%= link_to 'Back', method1s_path %>
