<h3>Admin Page</h3>
<ul>
<li><%= link_to "ทีมงาน", staffs_path %></li>
<li><%= link_to "กิจกรรม", activities_path %></li>
<li><%= link_to "ปัญหาเชิงพฤติกรรมในพื้นที่", problems_path %></li>
<li><%= link_to "แหล่งให้งบประมาณ", budget_srcs_path %></li>
<li><%= link_to "กลุ่มเป้าหมาย", targets_path %></li>
<li><%= link_to "เหตุปัจจัย", factors_path %></li>
<li><%= link_to "ผู้นำภารกิจ", leaders_path %></li>
<li><%= link_to "กลุ่มเปราะบาง", special_groups_path %></li>
<li><%= link_to "Threat Types", threat_types_path %></li>
<li><%= link_to "Threats", threats_path %></li>

</ul>

