<h2>ตาราง</h2>
<ul>
<li><%= link_to "สรุปความก้าวหน้าการของบประมาณ", report_budget_path %></li>
<li><%= link_to "สรุปความต้องการงบประมาณ", report_require_budget_path %></li>
<li><%= link_to "สรุปโครงการและงบประมาณแยกตามกลุ่มเป้าหมาย", report_target_path %></li>
<li><%= link_to "รายชื่อโครงการตามเหตุปัจจัยและภาวะคุกคาม ", report_factor_path %></li>
<li><%= link_to "ระดับความเข้มข้นของการให้ข้อมูลข่าวสาร สำหรับเยาวชนกลุ่มทั่วไป", report_density_group_youth_path %></li>
<li><%= link_to "การวิเคราะห์ภาวะคุกคามของเยาวชนกลุ่มเปราะบาง", report_threat_path %></li>
</ul>
<h2>Charts</h2>
<ul>
<li><%= link_to "ความครอบคลุมของ intervention สำหรับแต่ละกลุ่มเป้าหมาย", report_intervention_chart_path %></li>
<li><%= link_to "การขยายผลโครงการให้ครอบคลุมกลุ่มเป้าหมายต่างๆ ในพื้นที่ใน 3 ปี ", report_expand_chart_path %></li>
<li><%= link_to "งบประมาณที่ต้องใช้ 3 ปี ", report_budget_chart_path %></li>
<li><%= link_to "ระดับคุณภาพของกลวิธี", report_method1_gc_path %></li>

</ul>

