<p id="notice"><%= notice %></p>
<!--
<p>
  <b>User:</b>
  <%= @lr40.user_id %>
</p>
-->
<p>
  <b>Project name:</b>
  <%= @lr40.project_name %>
</p>

<p>
  <b>Target name:</b>
  <%= @lr40.target_name %>
</p>

<p>
  <b>Method:</b>
  <%= @lr40.method %>
</p>

<p>
  <b>Plan budget:</b>
  <%= @lr40.plan_budget %>
</p>

<p>
  <b>Owner:</b>
  <%= @lr40.owner %>
</p>

<p>
  <b>Target no:</b>
  <%= @lr40.target_no %>
</p>

<p>
  <b>Define date:</b>
  <%= @lr40.define_date %>
</p>


<%= link_to 'แก้ไข', edit_lr40_path(@lr40) %> |
<%= link_to 'Back', lr40s_path %>

