<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @method2.project2_id %>
</p>

<p>
  <b>Target:</b>
  <%= @method2.target_id %>
</p>

<p>
  <b>Title:</b>
  <%= @method2.title %>
</p>

<p>
  <b>Year1 n:</b>
  <%= @method2.year1_n %>
</p>

<p>
  <b>Year2 n:</b>
  <%= @method2.year2_n %>
</p>

<p>
  <b>Year3 n:</b>
  <%= @method2.year3_n %>
</p>

<p>
  <b>Step1 title:</b>
  <%= @method2.step1_title %>
</p>

<p>
  <b>Step2 title:</b>
  <%= @method2.step2_title %>
</p>

<p>
  <b>Step3 title:</b>
  <%= @method2.step3_title %>
</p>

<p>
  <b>Step4 title:</b>
  <%= @method2.step4_title %>
</p>

<p>
  <b>Step5 title:</b>
  <%= @method2.step5_title %>
</p>

<p>
  <b>Step1 dens:</b>
  <%= @method2.step1_dens %>
</p>

<p>
  <b>Step2 dens:</b>
  <%= @method2.step2_dens %>
</p>

<p>
  <b>Step3 dens:</b>
  <%= @method2.step3_dens %>
</p>

<p>
  <b>Step4 dens:</b>
  <%= @method2.step4_dens %>
</p>

<p>
  <b>Step5 dens:</b>
  <%= @method2.step5_dens %>
</p>


<%= link_to 'แก้ไข', edit_method2_path(@method2) %> |
<%= link_to 'Back', method2s_path %>
