<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr602555.user_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @lr602555.project_name %>
</p>

<p>
  <b>Target name:</b>
  <%= @lr602555.target_name %>
</p>

<p>
  <b>Activity type:</b>
  <%= @lr602555.activity_type %>
</p>

<p>
  <b>Target no:</b>
  <%= @lr602555.target_no %>
</p>

<p>
  <b>Team type:</b>
  <%= @lr602555.team_type %>
</p>

<p>
  <b>Team no:</b>
  <%= @lr602555.team_no %>
</p>

<p>
  <b>Comment:</b>
  <%= @lr602555.comment %>
</p>


<%= link_to 'แก้ไข', edit_lr602555_path(@lr602555) %> |
<%= link_to 'Back', lr602555s_path %>
