<h3>งบประมาณสำหรับโครงการและการพัฒนาสมรรถนะสำหรับแผนขาขึ้น 2555</h3>
<%= form_for(@lb402555) do |f| %>
  <% if @lb402555.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lb402555.errors.count, "error") %> prohibited this lb402555 from being saved:</h2>

      <ul>
      <% @lb402555.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>-->
  <%= hidden_field_tag 'lb402555[user_id]', current_user.id %>
  <div class="field">
    <%= f.label :project_name, "ชื่อโครงการ/กิจกรรม" %><br />
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :project_budget, "งบประมาณที่ต้องใช้ในการจัดกิจกรรมโครงการ" %><br />
    <%= f.text_field :project_budget %>
  </div>
  <div class="field">
    <%= f.label :dev_budget, "งบประมาณที่ต้องใช้ในการพัฒนาสมรรถนะทีมงาน" %><br />
    <%= f.text_field :dev_budget %>
  </div>
  <div class="field">
    <%= f.label :budget, "งบประมาณที่ต้องใช้รวม" %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :sponsor, "หน่วยงานที่จะสนับสนุนงบประมาณ" %><br />
    <%= f.text_area :sponsor, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

