<h1>Listing group_problems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_problems.each do |group_problem| %>
  <tr>
    <td><%= group_problem.title %></td>
    <td><%= group_problem.description %></td>
    <td><%= link_to 'แสดง', group_problem %></td>
    <td><%= link_to 'แก้ไข', edit_group_problem_path(group_problem) %></td>
    <td><%= link_to 'ลบ', group_problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group problem', new_group_problem_path %>
