<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr46.user_id %>
</p>

<p>
  <b>Health service:</b>
  <%= @lr46.health_service %>
</p>

<p>
  <b>Youth no:</b>
  <%= @lr46.youth_no %>
</p>

<p>
  <b>Define date:</b>
  <%= @lr46.define_date %>
</p>


<%= link_to 'แก้ไข', edit_lr46_path(@lr46) %> |
<%= link_to 'Back', lr46s_path %>
