<h3>โครงการและงบประมาณที่ได้รับ จำนวนกลุ่มเป้าหมาย (ปี 2554)</h3>
<%= form_for(@lr65) do |f| %>
  <% if @lr65.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lr65.errors.count, "error") %> prohibited this lr65 from being saved:</h2>

      <ul>
      <% @lr65.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'lr65[user_id]', current_user.id %>
  <div class="field">
    <%= f.label :project_name,"ชื่อโครงการ/กิจกรรม" %><br />
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :target_name, "กลุ่มเป้าหมาย" %><br />
    <%= f.text_field :target_name %>
  </div>
  <div class="field">
    <%= f.label :activity_type, "ลักษณะกิจกรรม" %><br />
    <%= f.select(:activity_type, ApplicationController::ACTIVITY_TYPE , {:prompt => 'เลือกประเภท'}) %>
    <!-- <%= f.text_field :activity_type %> -->
  </div>
  <div class="field">
    <%= f.label :budget, "งบประมาณที่ได้รับ" %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :owner, "หน่วยงาน/ผู้รับผิดชอบ" %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :target_no, "จำนวนกลุ่มเป้าหมายกิจกรรม" %><br />
    <%= f.text_field :target_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

