<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @project2_factor.project2_id %>
</p>

<p>
  <b>Factor:</b>
  <%= @project2_factor.factor_id %>
</p>


<%= link_to 'แก้ไข', edit_project2_factor_path(@project2_factor) %> |
<%= link_to 'Back', project2_factors_path %>
