<p id="notice"><%= notice %></p>

<p>
  <b>Project2:</b>
  <%= @method3.project2_id %>
</p>

<p>
  <b>Target:</b>
  <%= @method3.target_id %>
</p>

<p>
  <b>Title:</b>
  <%= @method3.title %>
</p>

<p>
  <b>Year1 n:</b>
  <%= @method3.year1_n %>
</p>

<p>
  <b>Year2 n:</b>
  <%= @method3.year2_n %>
</p>

<p>
  <b>Year3 n:</b>
  <%= @method3.year3_n %>
</p>

<p>
  <b>Step1 title:</b>
  <%= @method3.step1_title %>
</p>

<p>
  <b>Step2 title:</b>
  <%= @method3.step2_title %>
</p>

<p>
  <b>Step3 title:</b>
  <%= @method3.step3_title %>
</p>

<p>
  <b>Step4 title:</b>
  <%= @method3.step4_title %>
</p>

<p>
  <b>Step1 dens:</b>
  <%= @method3.step1_dens %>
</p>

<p>
  <b>Step2 dens:</b>
  <%= @method3.step2_dens %>
</p>

<p>
  <b>Step3 dens:</b>
  <%= @method3.step3_dens %>
</p>

<p>
  <b>Step4 dens:</b>
  <%= @method3.step4_dens %>
</p>


<%= link_to 'แก้ไข', edit_method3_path(@method3) %> |
<%= link_to 'Back', method3s_path %>
