<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lr70.user_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @lr70.project_name %>
</p>

<p>
  <b>Target name:</b>
  <%= @lr70.target_name %>
</p>

<p>
  <b>Q1:</b>
  <%= @lr70.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @lr70.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @lr70.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @lr70.q4 %>
</p>


<%= link_to 'แก้ไข', edit_lr70_path(@lr70) %> |
<%= link_to 'Back', lr70s_path %>
