<%= form_for(@activities_project) do |f| %>
  <% if @activities_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activities_project.errors.count, "error") %> prohibited this activities_project from being saved:</h2>

      <ul>
      <% @activities_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.text_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :freq %><br />
    <%= f.text_field :freq %>
  </div>
  <div class="field">
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </div>
  <div class="field">
    <%= f.label :sponsor %><br />
    <%= f.text_field :sponsor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
