<h1>รายชื่อแหล่งงบประมาณ</h1>

<table>
  <tr>
    <th>แหล่งงบประมาณ</th>
    <th>คำอธิบาย</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @budget_srcs.each do |budget_src| %>
  <tr>
    <td><%= budget_src.title %></td>
    <td><%= budget_src.description %></td>
    <td><%= link_to 'แสดง', budget_src %></td>
    <td><%= link_to 'แก้ไข', edit_budget_src_path(budget_src) %></td>
    <td><%= link_to 'ลบ', budget_src, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'เพิ่มรายชื่อแหล่งงบประมาณ', new_budget_src_path %>
