<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ชื่อสถานประกอบการ %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :รายละเอียด %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :ที่อยู่ %><br />
    <%= f.text_area :address %>
  </div>
   <div class="actions">
    <%= f.submit  "บันทึก" %>
  </div>
<% end %>

